div.row
  div.col-md-4.roundedBox
    div.panelBG
      p something
  div.col-md-8
    div.row
      div.col-xs-1.col-sm-1
        p 1
      div.col-xs-1.col-sm-1
        p 2
      div.col-xs-1.col-sm-1
        p 3
      div.col-xs-1.col-sm-1
        p 4
      div.col-xs-1.col-sm-1
        p 5
      div.col-xs-1.col-sm-1
        p 6
      div.col-xs-1.col-sm-1
        p 7
      div.col-xs-1.col-sm-1
        p 8
      div.col-xs-1.col-sm-1
        p 9
      div.col-xs-1.col-sm-1
        p 10
      div.col-xs-1.col-sm-1
        p 11
      div.col-xs-1.col-sm-1
        p 12