script(type='text/javascript' src='javascripts/main.js')
div.row
  div.no-gutter.col-md-4
    div.row.roundedBox.shoppingList
      table.table.table-hover(id='tblCart')
        thead
          tr
            th SKU 
            th Detail
            th Quantity
            th Price
        tbody
    div.row.roundedBox.priceTab
      div.row
        div.col-xs-8
          div.row
            h2 Subtotal
          div.row
            h4 Tax
          div.row
            h4 Items
        div.col-xs-4
          div.row
            h2#subtotal $0.00
          div.row
            h4#tax $0.00
          div.row
            h4#items 0
      div.row
        button.btn.btn-success#btnPurchase PURCHASE
          span(class='glyphicon glyphicon glyphicon-shopping-cart', style='padding-left:15px') 
  div.col-md-8
    div.row
      div.searchDiv
        input.search(type="search",placeholder="Search for any product name")
    div.categoryResult

    div.productResult
