script(type='text/javascript' src='javascripts/main.js')
div.row
  div.no-gutter.col-md-4
    div.row.roundedBox.shoppingList
      div
        table(id='tblCart', class='table')
          thead
            tr
              th SKU 
              th Detail
              th Quantity
              th Price
          tbody
          
            
    div.row.roundedBox.priceTab
        p PRICE

  div.col-md-8
    div.row
      div.searchDiv
        input.search(type="search",placeholder="Search for any product name")
    div.categoryResult

    div.productResult
