div.row
  div.no-gutter.col-md-4
    div.row.roundedBox.shoppingList
      div
        p something
    div.row.roundedBox.priceTab
        p else

  div.col-md-8
    div.row
      div.searchDiv
        input.search(type="search",placeholder="Search for any product name")
    div.row.productResult
      div.col-xs-2.col-sm-2.no-gutter
        button.resultButton 1
      div.col-xs-2.col-sm-2.no-gutter
        button.resultButton 2
      div.col-xs-2.col-sm-2.no-gutter
        button.resultButton 3
      div.col-xs-2.col-sm-2.no-gutter
        button.resultButton 4
      div.col-xs-2.col-sm-2.no-gutter
        button.resultButton 5
      div.col-xs-2.col-sm-2.no-gutter
        button.resultButton 6