script(type='text/javascript' src='javascripts/product.js')
link(rel='stylesheet', href='/stylesheets/list.css')
div.row
  div.no-guter.col-md-4
    div.roundedBox.vh87.padme.pnlCat.scrollable
      ol.rounded-list
        li.level-1.selectable 
          div.level Parent
          ol.level-2.selectable 
            li 
              div Child
            li
              div Child
        li.level-1.selectable 
          div.level Parent
          ol.level-2.selectable 
            li 
              div Child
            li
              div Child
  div.no-guter.col-md-8
    div.roundedBox.vh87.padme.pnlProd.scrollable