script(type='text/javascript' src='javascripts/product.js')
link(rel='stylesheet', href='/stylesheets/list.css')
div.row
  div.no-guter.col-md-4
    div.roundedBox.vh87.padme.pnlCat.scrollable
      ol.rounded-list
        li.selectable 
          div stuff
          ol
            li.selectable 
              div stuff
  div.no-guter.col-md-8
    div.roundedBox.vh87.padme.pnlProd.scrollable