script(type='text/javascript' src='javascripts/sales.js')
div.row
  div.no-guter.col-md-8
    div.roundedBoxNoPos.vh87.padme.pnlSaleTrans.scrollable
      h4.float-left Sale Transactions
      div.clear
      hr
      div.no-guter.col-md-4
        div#datepicker
      div.no-guter.col-md-8
        p other
  div.no-guter.col-md-4
    div.roundedBoxNoPos.vh87.padme.scrollable 
      h4.float-left Sale Details
      div.clear
      hr
      div.pnlSaleDetails
        i Pick a transaction from the left
div.sales-modal