script(type='text/javascript' src='javascripts/sales.js')
link(rel='stylesheet', href='/stylesheets/sales.css')

div.row
  div.col-md-8
    div.roundedBoxNoPos.vh87.padme.pnlSaleTrans.scrollable
      h4.float-left Sale Transactions
      div.clear
      hr
      div.no-guter.col-md-4
        div.row
          div#datepicker
        div.row
          div.box
            div.box__header
              h3.box__header-title Sales Data
            div.box__body
              div.stats.stats--main
                div.stats__amount#s_today
                div.stats_caption current period
                //- div.stats__change
                //-   div.stats__value.stats_value--positive + 6%
                //-   div.stats__period this week
              div.stats
                div.stats__amount#s_month
                div.stats_caption tax current period
                //- div.stats__change
                //-   div.stats__value.stats_value--negative + 6%
                //-   div.stats__period this week
              div.stats
                div.stats__amount#s_sold
                div.stats_caption items sold in period
                //- div.stats__change
                //-   div.stats__value.stats_value nothing
                //-   div.stats__period this week

      div.col-md-8
        div.row
          h4#resultDate(style="font-weight:bold;text-align:center;")
        div.row
          div.sales_table_div(style="margin-left:10px")
  div.no-guter.col-md-4
    div.roundedBoxNoPos.vh87.padme.scrollable 
      h4.float-left Sale Details
      div.clear
      hr
      div.pnlSaleDetails
        i Pick a transaction from the left, if no transactions exit, you can use the date picker to select a period: year, month, or exact day of sale
div.sales-modal 