doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css')

    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    script(type='text/javascript' src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(rel='text/javascript', src='http://code.jquery.com/ui/1.11.3/jquery-ui.min.js')
    script(rel='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(type='text/javascript' src='javascripts/page.js')
    
  body
    block content