doctype html
html
  head
    title= title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css')


    script(type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(rel='text/javascript', src='http://code.jquery.com/ui/1.11.3/jquery-ui.min.js')
    script(rel='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(type='text/javascript' src='javascripts/page.js')
    script(type='text/javascript' src='https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js')
    script(type='text/javascript' src='https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js')
    script(type='text/javascript' src='http://cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.js')
    script(type='text/javascript' src='//cdn.datatables.net/plug-ins/f2c75b7247b/sorting/currency.js')
    script(type='text/javascript' src='http://1000hz.github.io/bootstrap-validator/dist/validator.min.js')
    script(type='text/javascript' src='javascripts/bootstrap-datepicker.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datepicker3.min.css')
    

    meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
    meta(name="viewport",content="width=device-width,initial-scale=1")
  body
    block content