extends layout

block content
  link(rel='stylesheet', href='/stylesheets/login.css')
  div.login
    div.title Login to your account
    form(action='/signin',method='post')
      div.input
        -if(error)
          div.alert.alert-danger(role="alert")
            span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
              span.sr-only Error

              |Login Unsuccessful
        div.icon
          i(class="fa fa-user")
        input(placeholder="employee number", type="text", name="username")

        div(class="input pass")
          div.icon
            i(class="fa fa-lock")
          input(placeholder="password", type="password", name="password")
      input.btn.btn-primary.purchButton(type='submit', name='btnSubmit',id='btnSubmit')