extends layout

block content
  link(rel='stylesheet', href='/stylesheets/login.css')
  div.login
    div.title Login to your account
    form(action='/signin',method='post')

      div.input
        div.icon
          i(class="fa fa-user")
        input(placeholder="employee number", type="text", name="username")

        div(class="input pass")
          div.icon
            i(class="fa fa-lock")
          input(placeholder="password", type="password", name="password")
      input.submit(type='submit', name='btnSubmit',id='btnSubmit')