/*@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);*/
ol {
  /*font: 14px 'Merriweather Sans', 'lucida sans', sans-serif;*/
  counter-reset: li;
  list-style: none;
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  width: 300px;
  margin: 0 auto;
  cursor: pointer;
}
ol ol {
  margin-left: 2em;
}
.rounded-list div {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: all 0 ease-out; 
}
.rounded-list div:hover{
  background: #eee;
}

.rounded-list div:hover:before{
    transform: rotate(360deg);
    -webkit-transform:rotate(360deg);
}

.rounded-list div:before{
  content: counter(li);
  counter-increment: li;
  position: absolute; 
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}
